.user-profile {
    margin:auto;
    width: 600px;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.user-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DBCC95;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

.btn-profile {
    display:flex;
    justify-content: space-between;
    margin:auto;
    padding: 10px;
}